@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  display: flex;
  align-items: baseline;
  padding: 1rem;
  padding-left: 4rem;
  text-align: center;
}

.logo{
  width: 50px;
  height: 50px;
}

h1{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  color: #5c83ee4b;
}

nav{
  display: flex;
  flex-direction: row;
  width: 400px;
}

.nav-menu{
  display: flex;
  justify-content: baseline;
  align-items: center;
  list-style-type: none;
}

li .nav-link{
  text-decoration: none;
  font-size: 1.3rem;
  color: #3f51b5;
  padding: 1.5rem;
}

.nav-span{
  border: 2px solid #5c83ee4b;
  border-radius: 5px;
  padding: 8px 5px;
  margin-right: 1rem;
}

.new-post:hover{
  transition: 1s ease-out;
  border: 2px solid transparent;
  background-color: #5c83ee4b;
}

@media (max-width: 725px){
  header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav{
    justify-content: center;
  }
}
